.header {
	min-height: 20rem;
}

.temp-prog-header {
	min-height: 10rem;
}

.circle-arrow {
	background: #e8f6ed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.temp-item {
	cursor: grab;
}

.temp-item:active {
	cursor: grabbing;
}

.temp-img {
	height: 12rem;
	width: auto;
	object-position: center;
	object-fit: cover;
}

.temp-desc {
	overflow: hidden;
}

.temp-desc small {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.bg-donation {
	background-color: #E8F6ED;
	color: #007139;
}

.card-body {
	height: 15rem;
}
	
.text-program-permanent {
	font-size: .85rem;
}

/* .border-green {
	border-bottom: 2px solid green;
} */