.first-col {
	width: 10rem;
}

.last-col {
	width: auto;
}

tr,
td {
	padding-top: .3rem;
	padding-bottom: .3rem;
}

.img-container {
	background-color: white;
	position: relative;
	width: 100%;
	padding-top: 100%; /* 1:1 Aspect Ratio */
}

.img-prof {
	position: absolute;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}