@font-face {
	font-family: 'Chewy';
	src: url(../font/Chewy/Chewy-Regular.ttf);
}

@font-face {
	font-family: 'Open Sans';
	src: url(../font/OpenSans/OpenSans-Regular.ttf);
}

* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #F6F7F7;
	min-height: 100%;
	min-width: 100%;
}

.navbar {
	background-color: white;
	min-height: 4rem;
}

.navbar .container{
	height: 4rem;
}

.nav-logo {
	max-height: 3rem;
}

.nav-prof-pic-container {
	background-color: white;
	position: relative;
	width: 2rem;
	padding-top: 2rem; /* 1:1 Aspect Ratio */
}

.nav-prof-pic {
	position: absolute;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn-outline-success:hover {
	color: white !important;
}

.active-nav-menu {
	border-bottom: 4px solid green;
	background-color: rgba(0, 128, 0, 0.025);
}